$circle-size : 250px;
$circle-pos-x: var(--circle-pos-x);
$circle-pos-y: var(--circle-pos-y);
$circle-count: var(--circle-count);
// use same opacity as in tunnelStripes.scss
$opacity: 0.7;
$circle-color: #a8a8a8;


.circle-wrapper {
  position: relative;

  .circle {
    position: absolute;
    border: 6px solid;
    border-radius: 50%;
    transform: translate(-50%, 0);

    @for $i from 1 to str-length($circle-count) {
      &:nth-child(#{$i}) {
        top: $circle-pos-y;
        left: $circle-pos-x;
        width: $circle-size;
        height: $circle-size;
        color: rgba(red($circle-color), green($circle-color), blue($circle-color), $opacity);
        $opacity: calc($opacity + 0.3 / $circle-count )!global;
        $circle-size: $circle-size + 160px !global;
        $circle-pos-y: calc(#{$circle-pos-y} - 80px) !global;
      }
    }
  }
}